{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": ["eslint:recommended", "prettier"],
    "parserOptions": {
        "ecmaFeatures": {
            "globalReturn": true,
            "modules": true
        },
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "plugins": ["prettier"],
    "root": true,
    "rules": {
        "constructor-super": "error",
        "curly": "error",
        "eqeqeq": "error",
        "linebreak-style": ["error", "unix"],
        "new-cap": "error",
        "no-class-assign": "error",
        "no-console": 0,
        "no-const-assign": "error",
        "no-delete-var": "error",
        "no-dupe-class-members": "error",
        "no-label-var": "error",
        "no-negated-condition": "error",
        "no-return-assign": "error",
        "no-return-await": "error",
        "no-this-before-super": "error",
        "no-undef-init": "error",
        "no-undef": "error",
        "no-unused-vars": "error",
        "no-use-before-define": ["error", { "classes": false, "functions": false }],
        "no-useless-constructor": "error",
        "no-var": "error",
        "prefer-const": "error",
        "prefer-template": "error",
        "prettier/prettier": [
            "error",
            {
                "bracketSpacing": true,
                "jsxBracketSameLine": false,
                "parser": "babel",
                "printWidth": 100,
                "singleQuote": false,
                "semi": true,
                "tabWidth": 4,
                "trailingComma": "all"
            }
        ],
        "require-await": "error",
        "require-yield": "error",
        "semi": ["error", "always"],
        "spaced-comment": ["error", "always", { "markers": ["/"] }],
        "strict": ["error", "global"],
        "yoda": "error",
        "quotes": ["error", "double", { "avoidEscape": true }]
    }
}
